html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

main {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

a,
button,
input,
svg * {
  transition-duration: 0.2s;
}

h1, h2, h3, h4 {
  font-weight: 700;
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: repeat;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
}
.main__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/main_bg.svg);
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.main__title {
  font-size: 38px;
  text-align: center;
  color: #fff;
}
.main__scroll {
  margin: 0 auto;
  padding: 30px;
}
.main__scroll:hover > svg circle {
  stroke: #f0145a;
}
.main__scroll:hover > svg path {
  stroke: #f0145a;
}
.main::before {
  position: absolute;
  content: "";
  top: 100%;
  height: 10px;
  left: 20px;
  right: 20px;
  background-color: #CACADB;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.main::after {
  position: absolute;
  content: "";
  bottom: -20px;
  height: 10px;
  left: 40px;
  right: 40px;
  background-color: #E7E7F2;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.section__link {
  display: inline-flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #24a3ff;
}
.section__link:hover {
  color: #f0145a;
}
.section__link:hover svg path {
  stroke: #f0145a;
}

.section__title {
  font-size: 38px;
  line-height: 1.2;
  background: linear-gradient(98deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #323264 100%);
  animation: fadeOut 1s ease forwards;
  animation-delay: 1.5s;
  z-index: 100;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  animation-name: focus-in-contract;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.loader span {
  color: #f0145a;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.header {
  position: relative;
  padding-top: 50px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.header__menu-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}
.header__menu-link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.header__menu-link:hover::after {
  width: 100%;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  background: #fff;
  transition-duration: 0.2s;
}
.header__menu-link_active {
  color: #f0145a;
  pointer-events: none;
}
.header__menu-link_active::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 2px;
  background: #f0145a;
  transition-duration: 0.2s;
}
.header__info {
  position: absolute;
  right: 0;
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
}
.header__info-list {
  display: flex;
  align-items: center;
}
.header__info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  width: 33px;
  height: 25px;
  color: #fff;
  border-radius: 8px;
  transition-duration: 0.2s;
  cursor: pointer;
  background: transparent;
  border: none;
}
.header__info-btn_active {
  border-radius: 8px;
  background: #f0145a;
  pointer-events: none;
}
.header__info-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__info-address {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}
.header__info-address::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1/1;
  background-color: #e6e6f0;
  border-radius: 50%;
  margin-right: 6px;
}
.header__info-tel {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.header__info-tel::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1/1;
  background-color: #e6e6f0;
  border-radius: 50%;
  margin-right: 6px;
}
.header__info-facebook {
  display: inline-flex;
  align-items: center;
}
.header__info-facebook::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1/1;
  background-color: #e6e6f0;
  border-radius: 50%;
  margin-right: 6px;
}
.header__info-facebook:hover path {
  fill: #f0145a;
}
.header__burger {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header__burger-line {
  display: block;
  position: absolute;
  width: 18px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.header__burger-line:nth-of-type(2) {
  top: calc(50% - 6px);
}
.header__burger-line:nth-of-type(3) {
  top: calc(50% + 6px);
}
.header__logo_services {
  display: flex;
  column-gap: 4px;
}
.header__logo_services::after {
  content: url(../images/icons/slash.svg);
}
.header__logo-wrapper {
  display: flex;
  align-items: flex-start;
  column-gap: 4px;
}
.header__logo-slash {
  font-size: 50px;
  color: #f0145a;
}
.header__logo-page {
  font-size: 36px;
  color: #fff;
  margin-top: 5px;
}

.slider {
  padding: 60px;
  padding-bottom: 0;
}
.slider__wrapper {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.slider__nav-list {
  min-width: 375px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 30px;
}
.slider__nav-link {
  font-weight: 700;
  font-size: 38px;
  color: #b3b3ba;
}
.slider__nav-link:first-child {
  background: linear-gradient(98deg, #ef8080 0%, #f0145a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider__nav-link:hover {
  color: #f0145a;
}
.slider__text {
  padding: 75px 0 75px 60px;
  position: relative;
}
.slider__text::before {
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  width: 4px;
  height: 100%;
  top: 0px;
  left: -1px;
}
.slider__text-title {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.slider__text-descr {
  margin-top: 30px;
  font-size: 19px;
  line-height: 30px;
  color: #fff;
}

.services {
  padding: 60px 0;
}
.services__wrapper {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
}
.services__item {
  width: calc((100% - 120px) / 3);
}
.services__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 92px;
  height: 92px;
  cursor: pointer;
  background: #fff;
  transition-duration: 0.2s;
}
.services__item-title {
  display: inline-block;
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.2;
  color: #24a3ff;
}
.services__item-title:hover {
  color: #f0145a;
}
.services__item-descr {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.62;
  color: #fff;
}

.team__img {
  min-width: 400px;
  background-image: url(../images/team_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.team__wrapper {
  display: flex;
  padding-top: 60px;
}
.team__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  background: #f5f5fa;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.team__people-name {
  font-weight: 700;
  font-size: 16px;
  color: #b3b3ba;
  line-height: 1.2;
}
.team__people-job {
  margin-top: 5px;
  font-size: 14px;
  line-height: 157%;
  color: #b3b3ba;
}

.carousel__btn {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
}
.carousel__btn-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #24a3ff;
  opacity: 0.2;
  cursor: pointer;
}
.carousel__btn-item_active {
  opacity: 1;
}

.companies {
  margin: 60px 0;
}
.companies__subtitle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #323264;
}
.companies__wrapper {
  margin: 0 auto;
  max-width: 1720px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
}
.companies__items {
  width: 25%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companies__items-hillel {
  background: #1c4280;
}
.companies__items-wannabiz {
  background: #143646;
}
.companies__items-tapgerine {
  background: #f48b30;
}
.companies__items-3dlook {
  background: #9e4dc3;
}
.companies__items-orangear {
  background: #fd9339;
}
.companies__items-adtelligent {
  background: #e2e2e4;
}
.companies__items-clickky {
  background: #c71c36;
}
.companies__items-ecoleasing {
  background: #dcf3f9;
}
.companies__items-infratek {
  background: #eaeaea;
}
.companies__items-sitipark {
  background: #282240;
}
.companies__items-artprint {
  background: #1d4568;
}
.companies__items-ultimatecard {
  background: #000;
}

.publications {
  padding-top: 30px;
  background: #f5f5fa;
}
.publications__wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  border-bottom: 2px solid #e6e6f0;
}
.publications__card {
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition-duration: 0.2s;
}
.publications__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.publications__card-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.publications__card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #24a3ff;
  cursor: pointer;
}
.publications__card-title:hover {
  color: #f0145a;
}
.publications__card-date {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #b3b3ba;
}
.publications__card-line {
  height: 4px;
  background: #e6e6f0;
}
.publications__card-descr {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.footer {
  padding: 30px 60px;
  background: #f5f5fa;
}
.footer__wrapper {
  position: relative;
}
.footer__location {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer__address {
  font-size: 16px;
  color: #323264;
}
.footer__link-map {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer__link-map::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1;
  background-color: #B3B3BA;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer__info-facebook:hover path {
  fill: #f0145a;
}
.footer__info-phone {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #46466e;
}
.footer__info-phone::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1;
  background-color: #B3B3BA;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__info-mail {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #24a3ff;
}
.footer__info-mail::before {
  content: "";
  display: inline-block;
  width: 6px;
  aspect-ratio: 1;
  background-color: #B3B3BA;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__info-mail:hover {
  color: #f0145a;
}
.footer__policy {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #b3b3ba;
}

@media screen and (max-width: 1600px) {
  .main__wrapper {
    padding: 0 60px;
  }
  .main__header-wrapper {
    padding: 0 60px;
  }
  .slider {
    padding-bottom: 0;
  }
  .slider__wrapper {
    max-width: 1080px;
  }
  .slider__text {
    padding: 45px 0 45px 60px;
  }
  .team__wrapper {
    max-width: 1320px;
  }
  .companies {
    margin-bottom: 0;
  }
  .companies__wrapper {
    overflow: visible;
  }
  .publications {
    margin-top: 0;
    padding: 30px 60px 0 60px;
  }
  .services {
    padding: 60px;
  }
  .team {
    padding: 0 60px;
  }
}
@media screen and (max-width: 1024px) {
  .slider__wrapper {
    max-width: 900px;
    margin: auto;
  }
  .slider__text {
    padding: 0 0 0 60px;
  }
  .publications__card img {
    object-fit: cover;
  }
}
@media screen and (max-width: 900px) {
  .team__wrapper {
    flex-wrap: wrap;
  }
  .team__img {
    width: 100%;
    height: 500px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
  }
  .team__info {
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .companies__items {
    width: 33.3333333333%;
  }
  .publications__wrapper {
    flex-wrap: wrap;
  }
  .publications__card {
    width: calc((100% - 30px) / 2);
  }
  .publications__card:last-child {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  .header__info {
    position: relative;
    padding-bottom: 30px;
  }
  .slider__wrapper {
    flex-wrap: wrap;
  }
  .slider__text {
    padding: 60px 0;
  }
  .slider__text::before {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 4px;
  }
  .slider__nav {
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider__nav-list {
    width: 1300px;
    flex-direction: row;
    padding-bottom: 60px;
    padding-right: 0;
  }
  .services__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .main__wrapper {
    padding: 0;
  }
  .main__title {
    padding: 0 30px;
    line-height: 1.2;
  }
  .main__header-wrapper {
    padding: 0;
  }
  .header {
    padding-top: 0;
  }
  .header__wrapper {
    padding: 15px;
    flex-direction: row;
  }
  .header__wrapper img {
    width: 70px;
    height: 33px;
  }
  .header__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
  }
  .header__info-tel::before {
    display: none;
  }
  .header__info-address {
    display: none;
  }
  .header__info-facebook {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 0;
  }
  .header__logo::after {
    content: url(../images/icons/small_slash.svg);
  }
  .header__logo-page {
    font-size: 20px;
    margin-top: 3px;
  }
  .slider {
    padding: 0;
  }
  .slider__wrapper {
    flex-wrap: wrap;
  }
  .slider__text {
    padding: 30px;
  }
  .slider__text::before {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 4px;
  }
  .slider__text-title {
    font-size: 20px;
    line-height: 24px;
  }
  .slider__nav-list {
    width: 1000px;
    padding: 30px;
  }
  .slider__nav-link {
    font-size: 30px;
  }
  .services {
    padding: 30px;
  }
  .services__wrapper {
    padding: 30px 0;
    margin-top: 0;
  }
  .services__item {
    width: 100%;
  }
  .services__title {
    font-size: 30px;
  }
  .team {
    padding: 30px;
    padding-bottom: 0;
  }
  .team__wrapper {
    padding-top: 30px;
  }
  .team__img {
    min-width: auto;
    background-image: url(../../images/team_img-mobile.jpg);
  }
  .team__info {
    padding: 30px;
    word-break: break-word;
  }
  .team__title {
    font-size: 30px;
  }
  .companies {
    margin-top: 60px;
  }
  .companies__items:nth-last-child(-n+6) {
    display: none;
  }
  .companies__items {
    width: 100%;
  }
  .publications {
    padding: 30px;
    padding-bottom: 0;
  }
  .publications__card {
    width: 100%;
  }
  .publications__title {
    font-size: 30px;
  }
  .footer {
    padding: 30px;
  }
  .footer__location {
    flex-direction: column;
    row-gap: 10px;
  }
  .footer__info {
    flex-direction: column;
    row-gap: 10px;
  }
  .footer__info-phone::before {
    display: none;
  }
  .footer__info-mail::before {
    display: none;
  }
  .footer__policy {
    position: relative;
    margin-top: 30px;
    text-align: center;
  }
  .footer__link-map::before {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */