.header {
    position: relative;
    padding-top: 50px;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    &__menu {
        &-list {
            display: flex;
            justify-content: flex-end;
            column-gap: 15px;
        }
        &-link {
            position: relative;
            font-weight: 700;
            font-size: 16px;
            color: $basic-white;
            &:hover {
                &::after {
                    width: 100%;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 120%;
                left: 50%;
                transform: translate(-50%);
                width: 0;
                height: 2px;
                background: $basic-white;
                transition-duration: $transition-duration;
            }
            &_active {
                color: $accent;
                pointer-events: none;
                &::after {
                    content: '';
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translate(-50%);
                    width: 100%;
                    height: 2px;
                    background: $accent;
                    transition-duration: $transition-duration;
                }
            }
        }
    }
    &__info {
        position: absolute;
        right: 0;
        display: inline-flex;
        align-items: center;
        column-gap: 6px;
        &-list {
            display: flex;
            align-items: center;
        }
        &-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.08em;
            text-align: center;
            width: 33px;
            height: 25px;
            color: $basic-white;
            border-radius: $border-radius-s;
            transition-duration: $transition-duration;
            cursor: pointer;
            background: transparent;
            border: none;
            &_active {
                border-radius: $border-radius-s;
                background: $accent;
                pointer-events: none;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
        &-address {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            color: $basic-white;

            &::before {
                content: "";
                display: inline-block;
                width: 6px;
                aspect-ratio: 1 / 1;
                background-color: $grey---separator;
                border-radius: 50%;
                margin-right: 6px;
            }
        }
        &-tel {
            display: inline-flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            color: $basic-white;

            &::before {
                content: "";
                display: inline-block;
                width: 6px;
                aspect-ratio: 1 / 1;
                background-color: $grey---separator;
                border-radius: 50%;
                margin-right: 6px;
            }
        }

        &-facebook {
            display: inline-flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                width: 6px;
                aspect-ratio: 1 / 1;
                background-color: $grey---separator;
                border-radius: 50%;
                margin-right: 6px;
            }

            &:hover path {
                fill: $accent;
            }
        }
    }
    &__burger {
        position: relative;
        width: 32px;
        height: 32px;
        display: none;
        background: transparent;
        border: none;
        cursor: pointer;
        &-line {
            display: block;
            position: absolute;
            width: 18px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $basic-white;
            &:nth-of-type(2) {
                top: calc(50% - 6px);
            }
            &:nth-of-type(3) {
                top: calc(50% + 6px);
            }
        }
    }
    &__logo {
        &_services {
            display: flex;
            column-gap: 4px;
            &::after {
                content: url(../images/icons/slash.svg);
            }
        }
        
        &-wrapper {
            display: flex;
            align-items: flex-start;
            column-gap: 4px;
        }
        &-slash {
            font-size: 50px;
            color: $accent;
        }
        &-page {
            font-size: 36px;
            color: $basic-white;
            margin-top: 5px;
        }
    }   
}